{% extends 'layout.html' %}

{% block title %}Sobre{% endblock %}

{% block content %}
<div class="container">
    <h2>Sobre</h2>
    <div class="row  d-flex justify-content-center">
        <div class="col-6 d-flex justify-content-center">
            <p class="text-center">Na contemporaneidade, a busca por aulas particulares têm crescido significativamente, seja para reforçar o conhecimento, preparar-se para exames ou simplesmente para aprender algo novo. Como consequência, a necessidade de uma plataforma que facilite o agendamento dessas aulas também tem aumentado. A gestão e organização eficiente das aulas são grandes responsáveis no sucesso do aprendizado, seja qual for a área de ensino. O alinhamento dos horários entre professores e alunos é importante para manter a consistência das aulas. 
                Para tal demanda, o APPointment permite aos alunos agendar aulas particulares de forma rápida e eficiente, além de possibilitar aos professores uma maneira simples de gerenciar suas agendas.
            O projeto completo pode ser encontratno no <a href="https://github.com/guiravisio/APPointment_Python_flask" target="_blank" >GitHub</a> do projeto.</p>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <img src="{{url_for('static', filename='img/calendario.png')}}" alt="Card image cap">
        </div>
    </div>
    <hr>
    <h2>Autores</h2>
    <div class="row">
        <div class="col-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='img/gui.jpg')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Guilherme Oliveira</h5>
                <p class="card-text">RA: 2840482023047</p>
                <a href="https://www.linkedin.com/in/guilhermeravisio/" target="_blank" class="btn btn-primary">Linkedin</a>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{url_for('static', filename='img/luan.jpg')}}" alt="Card image cap">
                <div class="card-body">
                <h5 class="card-title">Luan Santos</h5>
                <p class="card-text">RA: 2840482023001</p>
                <a href="https://www.linkedin.com/in/luan-silva-0a3b48251/" target="_blank" class="btn btn-primary">Linkedin</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
  </div>

{% endblock %}